#backlog {
  color: #555;
  margin-top:10px;
  position: relative;
}

#backlog > div { 
  border:1px solid #DDD;
  border-radius:5px;
  padding: 0;
  background: #FCFCFC;
  position: relative;
}

#backlog .top {
  background: #F8F8F8;
  font-weight: bold;
  border-radius:5px 5px 0 0;
  padding: 10px;
  border-bottom:3px solid #AAA;
}

.top .title { cursor:move; }

#backlog #product-backlog { 
  border-color: #AED7FF;
}

#product-backlog .top {
  color:#0066CC;
  background:#DFEEFD;
  border-color:#77BAFF;
  cursor: default;
}

#backlog .top .btn {
  padding: 0 6px;
  color: #666;
}
#backlog .top .btn.hidden { display:none; }

#product-backlog .top .title { cursor: auto; }

#backlog #product-backlog .top .hours { 
  background: #EDF6FF;
  border-color: #AED7FF;
}

#backlog #product-backlog .top .hours.selection { border-color:#0066CC; }

#backlog .top .title {
  font-size: 105%;
  line-height: 18px;
  overflow: hidden;
  margin-top:2px;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#backlog .ticket-selection { float:right; }
#backlog .ticket-selection.hidden { display:none; }

#backlog .ticket-selection .btn { margin-left: 5px; }

#backlog .top .hours { 
  border-radius:5px;
  font-size: 80%;
  line-height: 21px;
  height: 21px;
  margin:0 5px 0 5px;
  padding:0 6px;
  float:right;
  border:1px solid #CCC;
  background: #FAFAFA;
}

#backlog .top .hours.selection { border-color: #999; }

#backlog .filter {
  clear: both;
  width:100%;
  border:none;
  border-bottom:1px solid #DDD;
  border-radius:0;
  padding: 5px;
  margin-bottom: 0;
  -moz-box-sizing:border-box;
       box-sizing:border-box;
}

#backlog .multi-pick {
  cursor: n-resize;
  background: transparent;
  background: RGBA(221,221,221,0.4);
  height:12px;
  position: relative;
}

#backlog .multi-pick.dragging {
  box-shadow: 0 15px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  left:0;
  right:0;
  margin-top: -12px;
}

#backlog .multi-pick:before {
  content: "\f107";
  font-family: "FontAwesome";
  text-align: center;
  display: block;
  line-height: 11px;
  background: #EEE;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-radius:0 5px 5px 0;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
}

#backlog .multi-pick-placeholder {
  height: 12px;
  border-bottom: 1px solid #DDD;
}

#backlog .tickets-wrap { overflow-y: auto; }

@media (min-height:400px) and (max-height: 680px) {
  #backlog .tickets-wrap { max-height: 330px; }
}
@media (min-height:681px) and (max-height: 799px) {
  #backlog .tickets-wrap { max-height: 430px; }
}
@media (min-height:800px) and (max-height: 979px) {
  #backlog .tickets-wrap { max-height: 580px; }
}
@media (min-height:980px) and (max-height: 1100px) {
  #backlog .tickets-wrap { max-height: 680px; }
}

#backlog .tickets {
  width:100%;
  border-collapse:collapse;
  margin: 0;
}

#backlog .no-filter .tickets .filter-hidden { display:table-row; }
#backlog .tickets .filter-hidden { display:none; }

#backlog .tickets td {
  border:none;
  border-top:1px solid #DDD;
  padding: 5px;
  vertical-align: middle;
}

#backlog .ui-sortable td { cursor:move; }
#backlog .ui-sortable tr.ui-state-disabled td { cursor:auto; }

#backlog .tickets .ui-sortable-disabled td {
  cursor: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

#backlog td.wait {
  text-align: center;
  font-size: 150%;
}

#backlog .tickets tbody .priority[data-priority="1"] { background: #E89E9E; }
#backlog .tickets tbody .priority[data-priority="2"] { background: #FFCFB3; }
#backlog .tickets tbody .priority[data-priority="3"] { background: #EAEAEA; }
#backlog .tickets tbody .priority[data-priority="4"] { background: #A6C5F5; }
#backlog .tickets tbody .priority[data-priority="5"] { background: #A9F5BB; }

#backlog .tickets .id { color: #999; }
#backlog .tickets .summary { width: 100%; }
#backlog .tickets .summary a { color: #555; }
#backlog .tickets .hours span {
  font-size: 85%;
  color: #888;
  white-space: nowrap;
}
#backlog .tickets .hours i.icon-exclamation-sign { cursor: pointer; }

#backlog .tickets tbody > tr:nth-child(2n+2) td { background:#F5F5F5; }


#backlog .tickets tbody {
  min-height: 50px;
}
#backlog .tickets tbody tr:first-child td { border-top:none; }

#backlog td.spacer { 
  border:none;
  width:10px;
}