<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" /> 
  <head>
    <title>Task board</title>
  </head>
  <body>
    <div id="content" class="taskboard ${'view-condensed' if condensed else ''}">
      <h1>Task board</h1>
      <div id="taskboard-action-wrapper">
        <form action="" method="GET" id="taskboard-query" class="inline-block block-phone">
          <input id="tb-milestones-select" type="hidden" 
                 name="milestone" value="${current_milestone}" />
          <select name="group">
            <option py:for="field in group_by_fields" value="${field.name}"
                    selected="${field.name == cur_group and 'selected' or None}">
              ${field.label}
            </option>
          </select>
          <div id="mods-display-fields">
            <py:for each="field in display_fields">
              <label> <input type="checkbox" name="field" value="$field.name"
                checked="${any([(value == field.name) for value in cur_display_fields])
                                              and 'checked' or None}" />
              ${field.label} </label>
            </py:for>
          </div>
        </form>
        <div id="taskboard-controls" class="hidden inline-block">
          <div id="btn-stat-fields" class="btn tooltipped" title="Filter ticket fields">
            <i class="icon-align-left"></i>
          </div>
          <div py:if="cur_group == 'status'"
               id="btn-change-workflow" class="btn btn-primary tooltipped" title="Change workflow">
            <i class="icon-random"></i>
          </div>
          <div id="btn-groups-filter" class="btn tooltipped" title="Filter groups"
               data-class="popover-groups">
            <i class="icon-eye-open"></i>
          </div>
          <div id="btn-switch-view" class="btn tooltipped" title="Switch view">
            <i class="icon-th"></i>
          </div>
          <div id="btn-fullscreen" class="btn tooltipped" title="Toggle fullscreen">
            <i class="icon-fullscreen"></i>
          </div>
          <div id="popover-elements" class="hidden">
            <div id="popover-groups">
              <a id="set-groups-clear">
                <i class="icon-remove"></i> Remove all
              </a>
              <select id="set-groups-select" multiple="multiple"></select>
            </div>
            <div py:if="cur_group == 'status'" id="popover-workflows">
              <select class="full-width">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div py:if="milestone_not_found" class="box-info">
        <i class="icon-info-sign"></i>
        The specified milestone could not be found. Showing the current milestone instead.
      </div>
      <div id="taskboard-container"></div>
      <div id="ticket-dialog" class="hidden"></div>
      <form id="default-query-form" class="hidden" action="" method="post">
        <input type="text" name="milestone" value=""/>
        <input type="text" name="group" value=""/>
        <input type="text" name="field" value=""/>
        <input type="text" name="view" value=""/>
      </form>
    </div>
  </body>
</html>