<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" /> 
  <head>
    <title>Task board</title>
  </head>
  <body>
    <div id="content" class="taskboard ${'view-condensed' if condensed else ''}">
      <h1>Task board</h1>
      <div id="taskboard-action-wrapper">
        <form action="" method="GET" id="taskboard-query" class="inline-block block-phone">
          <input id="tb-milestones-select" type="hidden" 
                 name="milestone" value="${current_milestone}" />
          <select name="group">
            <option py:for="field in group_by_fields" value="${field.name}"
                    selected="${field.name == cur_group and 'selected' or None}">
              ${field.label}
            </option>
          </select>
	  <div id="popover-fields">
            <xi:include href="column_filter.html" />
	  </div>
        </form>
        <div id="taskboard-controls" class="hidden inline-block">
          <div id="btn-switch-view" class="btn btn-mini tooltipped" title="Toggle details">
            <i class="fa fa-th"></i><span class="visible-desktop">  Toggle details</span>
          </div>
          <div id="btn-fullscreen" class="btn btn-mini tooltipped" title="Toggle Fullscreen">
            <i class="fa fa-arrows-alt"></i><span class="visible-desktop">  Toogle Fullscreen</span>
          </div>
          <div py:if="cur_group == 'status'"
               id="btn-change-workflow" class="btn btn-mini tooltipped" title="Choose workflow to display">
            <i class="fa x-fa-workflow"></i><span class="visible-desktop"> Choose workflow</span>
          </div>
          <div id="btn-groups-filter" class="btn btn-mini tooltipped" title="Choose columns to display"
               data-class="popover-groups">
            <i class="fa fa-columns"></i><span class="visible-desktop"> Choose columns</span>
          </div>
          <div id="btn-stat-fields" class="btn btn-mini tooltipped" title="Select ticket fields to display"
	       data-class="popover-fields">
            <i class="fa fa-database"></i><span class="visible-desktop">  Choose fields</span>
          </div>
          <div id="popover-elements" class="hidden">
            <div id="popover-groups">
              <a id="set-groups-clear">
                <i class="fa fa-times"></i> Remove all
              </a>
              <select id="set-groups-select" multiple="multiple"></select>
            </div>
            <div py:if="cur_group == 'status'" id="popover-workflows">
              <select class="full-width">
              </select>
            </div>
          </div>
          <div id="btn-update-taskboard" class="btn tooltipped btn-mini btn-primary" title="Force refresh of data">
            <i class="fa fa-refresh"></i> Update
          </div>
        </div>
      </div>
      <div py:if="milestone_not_found" class="box-info">
        <i class="fa fa-info-circle"></i>
        The specified milestone could not be found. Showing the current milestone instead.
      </div>
      <div id="taskboard-container"></div>
      <div id="ticket-dialog" class="hidden"></div>
      <form id="default-query-form" class="hidden" action="" method="post">
        <input type="text" name="milestone" value=""/>
        <input type="text" name="group" value=""/>
        <input type="text" name="col" value=""/>
        <input type="text" name="view" value=""/>
      </form>
    </div>
  </body>
</html>
